# Configuration file for the camera to DMD mapping
# NC 01/07/2010
#
# A ConfigParser file with # as a comment character
[Main]
imageexposure = 0.001
imagecolor = spare
cameraheight = 1000
illuminatewidth = 1920
camerawidth = 1000
imageccd_bytesperpixel = 2
illuminateheight = 1080
imagegain = 20
imagefilename = DMD/image.raw

