# ==========================
# Phoenix Configuration File
# C:\Program Files (x86)\ActiveSilicon\Phoenix\Win\SDK5.0.11\PCF\Hamamatsu\Hamamatsu_C9100-51.pcf
# ==========================

# Camera Specific Settings
# ------------------------
PHX_BOARD_TYPE,            PHX_DIGITAL
PHX_CAM_TYPE,              PHX_CAM_LINESCAN_ROI
PHX_DATASTREAM_VALID,      PHX_DATASTREAM_ALWAYS
PHX_CAM_FORMAT,            PHX_CAM_NON_INTERLACED
PHX_CAM_CLOCK_POLARITY,    PHX_CAM_CLOCK_POS
PHX_CAM_SRC_DEPTH,         14
PHX_CAM_SRC_COL,           PHX_CAM_SRC_MONO
PHX_CAM_ACTIVE_XOFFSET,    0
PHX_CAM_ACTIVE_YOFFSET,    0
PHX_CAM_ACTIVE_XLENGTH,    1000
PHX_CAM_ACTIVE_YLENGTH,    1000
PHX_CAM_DATA_VALID,        PHX_ENABLE
PHX_CAM_HTAP_NUM,          1
PHX_CAM_HTAP_DIR,          PHX_CAM_HTAP_LEFT
PHX_CAM_HTAP_TYPE,         PHX_CAM_HTAP_LINEAR
PHX_CAM_HTAP_ORDER,        PHX_CAM_HTAP_ASCENDING
PHX_CAM_VTAP_NUM,          1
PHX_CAM_VTAP_DIR,          PHX_CAM_VTAP_TOP
PHX_CAM_VTAP_TYPE,         PHX_CAM_VTAP_LINEAR
PHX_CAM_VTAP_ORDER,        PHX_CAM_VTAP_ASCENDING
PHX_COMMS_DATA,            PHX_COMMS_DATA_8
PHX_COMMS_STOP,            PHX_COMMS_STOP_1
PHX_COMMS_PARITY,          PHX_COMMS_PARITY_NONE
PHX_COMMS_SPEED,           9600
PHX_COMMS_FLOW,            PHX_COMMS_FLOW_NONE

PHX_DST_FORMAT,		   PHX_DST_FORMAT_Y14

# System Specific Settings
# ------------------------
#PHX_IO_CCIO_OUT,           PHX_ENABLE
#PHX_IO_TTL_OUT,            PHX_DISABLE
#PHX_LINETRIG_SRC,          PHX_LINETRIG_TIMER
#PHX_LINETRIG_TIMER_CTRL,   PHX_LINETRIG_TIMER_DISABLE
#PHX_LINETRIG_TIMER_PERIOD, 1
#PHX_EXPTRIG_SRC,           PHX_EXPTRIG_NONE
#PHX_IO_TIMER_1_PERIOD,     1
#PHX_IO_TIMER_2_PERIOD,     1
#PHX_EXP_LINESTART,         PHX_EXP_LINESTART_LINE
#PHX_ACQTRIG_SRC,           PHX_ACQTRIG_OPTO_A1
#PHX_ACQTRIG_TYPE,          PHX_ACQTRIG_NONE
#PHX_ACQTRIG_ALIGN,         PHX_ACQTRIG_ALIGN_TO_CLK
#PHX_ACQTRIG_DELAY_TYPE,    PHX_ACQTRIG_DELAY_NONE
#PHX_ACQTRIG_DELAY,         1
#PHX_EVENTCOUNT_SRC,        PHX_EVENTCOUNT_LINE
#PHX_EVENTGATE_SRC,         PHX_EVENTGATE_FRAME

# Application Specific Settings
# -----------------------------
#PHX_ACQ_BLOCKING,          PHX_ENABLE
#PHX_ACQ_CHAIN,             PHX_ENABLE
#PHX_ACQ_CONTINUOUS,        PHX_ENABLE
#PHX_ACQ_NUM_IMAGES,        2
#PHX_ACQ_BUFFER_START,      1
#PHX_ACQ_TYPE,              PHX_ACQ_FRAME_12
#PHX_ACQ_XSUB,              PHX_ACQ_X1
#PHX_ACQ_YSUB,              PHX_ACQ_X1
#PHX_ROI_SRC_XOFFSET,       0
#PHX_ROI_SRC_YOFFSET,       0
#PHX_ROI_DST_XOFFSET,       0
#PHX_ROI_DST_YOFFSET,       0
#PHX_ROI_XLENGTH,           1000
#PHX_ROI_YLENGTH,           1000
#PHX_BUF_DST_XLENGTH,       1000
#PHX_BUF_DST_YLENGTH,       1000
#PHX_CAPTURE_FORMAT,        PHX_DST_FORMAT_Y8
#PHX_USER_FORMAT,           PHX_USER_FORMAT_Y8
#PHX_DST_ENDIAN,            PHX_DST_LITTLE_ENDIAN
#PHX_CAM_XBINNING,          1
#PHX_CAM_YBINNING,          1
#PHX_LUT_COUNT,             1
#PHX_LUT_CORRECT,           PHX_DISABLE
#PHX_LUT_SHIFT,             0
#PHX_LUT_BYPASS,            PHX_DISABLE
#PHX_TIMEOUT_TRIGGER,       1000
#PHX_TIMEOUT_CAPTURE,       1000
#PHX_TIMEOUT_DMA,           1000
#PHX_DATASRC,               PHX_DATASRC_CAMERA
#PHX_BUFFER_READY_COUNT,    1
